#list1 .form-control {
    border-color: transparent;
  }
  
  #list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
  }
  
  #list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
  }
  
  .clickable:hover {
    cursor: pointer;
  }
  
  .description {
    width: 50%;
    align-self: flex-end;
    text-align: left;
    float: right;
    padding: 30px 30px 30px 200px;
  }
  
  .description p {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 10px;
  }
  
  .description p a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .list-group-item {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
  
  .invalid {
    border-color: red !important;
  }
  
  .alert-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }

  @media (max-width: 1405px) {
    .description {
        width: 55%;
    }
}

@media (max-width: 1199px) {
    .description {
        width: 65%;
    }
}

@media (max-width: 997px) {
    .description {
        width: 70%;
    }
}

@media (max-width: 991px) {
    .description {
        width: 85%;
    }
}

@media (max-width: 771px) {
    .description {
        width: 100%;
        padding: 30px;
    }
}

@media (max-width: 445px) {
    .description {
        padding: 30px 20px;
    }
}

@media (max-width: 425px) {
    .description {
        padding: 30px 10px;
    }
}

@media (max-width: 403px) {
    .description {
        padding: 30px 0;
    }
}

@media (max-width: 383px) {
    .description, .description p, .description p a, .description u {
        font-size: 12px;
    }
}